.input {
    width: 150px;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
}

.input:focus {
    opacity: 0.9;
    border: solid 4px #097f7c;
}

.default {
    border: solid 3px #097f7c;
}

.button:not([disabled]):hover {
    opacity: 0.7;
}

.disabled {
    background-color: #494949;
    color: #363232;
}



