.root {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #097f7c;
    border: solid 5px #097f7c;
    border-radius: 20px;
    font-size: 70px;
    font-weight: bold;
}

.item {
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
}

.redText {
    color: red;
    transition: 0.3s ease-out;
}

.errorInput {
    background-color: #d8657b;
    border: solid 3px red;
    color: #b91818;
    /*font-weight: bold;*/
    /*font-size: 15px;*/
}


